<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
<h1>Welcome to Our Service</h1>
<p>Dear {{ name }},</p>
<p>Thank you for signing up for our service.</p>
<a href="{{ url }}" target="_blank"><button>Verify Account</button></a>
<h4></h4>
<p>Best regards,<br>Your Company</p>
</body>
</html>