<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Template</title>
</head>
<body>
<h1>Welcome to Our Service</h1>
<p>Dear {{ name }},</p>
<p>Use the code below to reset your password. Code expires on {{ expiration }}</p>
<h4>{{ otp }}</h4>
<p>Best regards,<br>Your Company</p>
</body>
</html>